
     <div class="Margintabla">
        <div class="contenidoTable card">  
            <h2 class="botones"> CAMBIAR CONTRASEÑA</h2> 
            

            <p-fieldset>
                <ng-template pTemplate="header">COMPLETA EL FORMULARIO</ng-template> 
                    <form [formGroup]="Form" class="form" >    
                        <div class="formulario">    
                            <strong>Nro Documento *</strong>  
                            <input type="text" pInputText readonly minlength="8" maxlength="8" (keypress)="validateFormat($event)" formControlName="usuario" class="p-inputtext-sm">   
            
                            <strong>Contraseña Actual *:</strong> 
                            <span class="p-input-icon-right" style="width: 100%;">
                                <i toggle="#password-field"
                                [class]="cambiarIconEye"
                                (click)="viewPassword(clave)"> </i>
                                <input type="password" style="display: grid" minlength="2" maxlength="6" pInputText placeholder="contraseña actual" formControlName="passwordActual"  #clave class="p-inputtext-sm">    
                            </span> 

                            <strong> Nueva Contraseña *:</strong> 
                            <span class="p-input-icon-right" style="width: 100%;">
                                <i toggle="#password-field"
                                [class]="cambiarIconEye1"
                                (click)="viewPassword1(clave1)"> </i>
                                <input type="password" style="display: grid" minlength="2" maxlength="6" pInputText placeholder="nueva contraseña" formControlName="password"  #clave1 class="p-inputtext-sm">    
                            </span>  
                        </div> 
                        
                    </form>  
                        
                    <div class="botones">
                        
            
                        <button   
                            class="p-button-sm p-button-rounded mx-2"
                            pButton
                            type="button"
                            style=" background-color: white; color: black; margin-right: 1%;"
                            icon="pi pi-times-circle"
                            label="Cancelar"
                            (click)="onCancelar()" >  
                        </button>  

                        <button  
                            class="p-button-sm p-button-rounded mx-2"
                            pButton
                            type="button"
                            [disabled]="Form.invalid" 
                            label="Actualizar"
                            (click)="onGuardar()"
                            icon="pi pi-check-circle">  
                        </button>  

                    </div>
            </p-fieldset>
             
        </div>  
      
    </div>
    
     
    