 
.formulario{
    display: grid;
    grid-gap: 0.5rem;
    grid-auto-rows: auto;
    grid-template-columns: 8rem 1fr;   
    align-items: center;
    @media (max-width: 800px) {  
       grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    }
 }
 
.formulario2{
    display: grid;
    grid-gap: 0.5rem;
    grid-auto-rows: auto;
    grid-template-columns: 8rem 1fr;   
    align-items: center;
    @media (max-width: 800px) {  
       grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
 }
  

.ElegirCita{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    align-items: center;
    gap : 2% ;
}

.ColoresEstados{
    text-align: center;
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    justify-content: center;
    margin: 2%;

    @media (max-width: 800px) {  
        display: inline-flex;
     }

    .ColorReservado{
        background-color: yellow;
        border-radius: 15px;
        border: solid 1px;
    }
    .ColorPagado{
        background-color: green;
        border-radius: 15px;
        color: white;
        margin: 0% 2% 0% 2%;
    }
    .ColorCancelado{
        background-color: red;
        border-radius: 15px;
        color: white
    }
}

 