.formulario{
    display: grid;
    grid-gap: 1rem; 
    gap: 1rem;
    text-align: center;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 900px) {   
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
    }
 }


 ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid rgba(232, 241, 248, 0.7);
    border-width: 0 0 1px 0;
    padding: 3px 3px;
}