.formulario{
    display: grid;
    grid-gap: 1rem; 
    gap: 1rem;
    text-align: center;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
    min-height: 50vh;
    @media (max-width: 900px) {   
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
       
    }
 }

  
 ::ng-deep  .p-inputnumber-buttons-horizontal .p-inputnumber-input {
    width: 5% !important;
    text-align: center;
}
 
::ng-deep p-calendar .p-datepicker{
    min-height: 40vh;
}
 
p-calendar td span.p-disabled {
    color: red !important;
    background: rgb(209, 209, 209) !important
  }
  
  p-calendar .custom-theme  td span.p-disabled {
    color: #fff !important;
    background: darkred !important
  }