
 
    <div class="Margintabla">
        <div class="contenidoTable card"> 
     
            <h2 class="botones"> CREAR MEDICO</h2> 

                <div class="stepsdemo-content"> 
                    <div>
                        <form [formGroup]="Form" class="form" >   
                       
                         
                             <div class="formulario">   
                                <strong>Nro Documento *</strong>  
                                <input type="text" pInputText  formControlName="nroDocumento" class="p-inputtext-sm" placeholder="Busca un anexo">   

                                <strong>Apellidos*</strong>
                                <input type="text" pInputText readonly formControlName="apellidos" class="p-inputtext-sm" placeholder="ingresar tus apellidos">   
                            
                                <strong>Nombres*</strong>
                                <input type="text" pInputText readonly formControlName="nombres" class="p-inputtext-sm" placeholder="ingresar tus nombres">     
                            
                                <strong>Telefono</strong>
                                <input type="number" pInputText  formControlName="telefono" class="p-inputtext-sm" placeholder="ingresar el telefono">  
                           
                                <strong>Email</strong>
                                <input type="email" pInputText formControlName="email" class="p-inputtext-sm" placeholder="ingresar el email">  
                               
                                <strong>Direccion Principal:</strong>
                                <input type="text" pInputText formControlName="direccionprincipal" class="p-inputtext-sm">  
            
                            </div> 
                
                          
                        </form>   
                    </div> 
     
                </div>
      
     
            <div class="botones">
              
    
                <button   
                    class="p-button-sm p-button-rounded mx-2"
                    pButton
                    type="button"
                    style=" background-color: white; color: black; margin-right: 1%;"
                    icon="pi pi-times-circle"
                    label="Cancelar" >  
                </button>  

                <button  
                    class="p-button-sm p-button-rounded mx-2"
                    pButton
                    type="button"
                    [disabled]="Form.invalid" 
                    label="{{ (dataMedico) ? 'Actualizar' : 'Grabar' }}"
                    (click)="onGuardar()"
                    icon="pi pi-check-circle">  
                </button>  

            </div>
        </div>  
      
    </div>
    
     
    