 
<div class="card"> 
    <div class="tituloVista">  
        <h3> <i class="fas fa-file"></i> GRAFICOS </h3>  
    </div>
    <hr>
    
    <div class="centrar" >  
        <h3> CITAS POR DOCTOR </h3>  
    </div> 

    <form [formGroup]="Form">  
        <div class="formulario">  
            <strong>Fecha Inicio: </strong>
            <p-calendar     
                appendTo="body" 
                [showIcon]="true" 
                (onSelect)="onGDoctores($event)"
                dateFormat="dd/mm/yy"   
                formControlName="FInicio"   
            ></p-calendar>   
            
            <strong>Fecha Fin: </strong>
            <p-calendar     
                appendTo="body" 
                [showIcon]="true" 
                (onSelect)="onGDoctores($event)" 
                dateFormat="dd/mm/yy"   
                formControlName="FFin"   
            ></p-calendar>   
        </div> 
        
        <div class="p-col-12 centrar"> 
            <div class="p-fluid p-formgrid p-grid"> 
                <div class="p-field p-col-12">
                     <p-chart type="bar" [data]="dataGraficoDoctores" [options]="horizontalOptions"></p-chart> 
                </div>
            </div>
        </div>

            
    </form> 
        
    <hr>
    <div class="p-col-12 centrar"> 
        <div class="p-fluid p-formgrid p-grid"> 
            <div class="p-field p-col-12 p-md-6 p-sm-12">
                <h3> <strong> TOTAL DE CITAS  </strong></h3>    
                <div class="centrar">
                    <div class="Circulo" [style.background-color]="Altercolor" >
                        <div class="Circulo2"> {{ TotalCitasRegistradas }} </div>  
                    </div>       
                </div>
                        
            </div>

            <div class="p-field p-col-12 p-md-6 p-sm-12"> 
                <h3> <strong>  CITAS POR ESTADO </strong> </h3>    
                <p-chart type="bar" [data]="dataGraficoCitas"  [options]="horizontalOptions2"></p-chart> 
            </div> 
        </div> 
    </div>

        

    <!-- <div class="grillaItems">  
        <p-card class="SombraCard" href="#" (click)="onDescargarPDF()" >
            <i class="fas fa-file-pdf sizeIcon"></i>
            <br>
            <p class="textIcon"> PDF </p> 
        </p-card> 
        <p-card class="SombraCard" (click)="onDescargarExcel()" >
            <i class="fas fa-file-excel sizeIcon"></i>
            <br>
            <p class="textIcon"> EXCEL </p> 
        </p-card>   
    </div> -->

    <!-- <div #exportContent *ngIf="mostrartabla">
        <p-table  
        class="TablaGeneral"
        [value]="listacitas" 
        [columns]="cols"
        selectionMode="single" 
            >
            <ng-template pTemplate="header" let-columns>
                <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}  
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-citas let-columns="columns"  let-rowIndex="rowIndex">
                <tr [pSelectableRow]="citas" [pSelectableRowIndex]="rowIndex">
                <td  *ngFor="let col of columns" >
                    <strong class="p-column-title">{{ col.header | uppercase}}</strong>   
                    <div [ngSwitch]="col.field">    
                        <div *ngSwitchCase="'fechacita'">
                            {{ citas[col.field] | date: col.formatoFecha }}
                        </div> 
                        <div style="font-weight:bold;" *ngSwitchCase="'horarioCita'">
                        de {{ citas.horainicio  | date: 'shortTime' }}  a  {{ citas.horafin | date: 'shortTime' }}
                        </div>  
                        <div class="ColorReservado" *ngSwitchCase="citas.idestadocita === 1">
                            {{ citas[col.field]  }}
                        </div> 
                        <div class="ColorPagado" *ngSwitchCase="citas.idestadocita === 2">
                            {{ citas[col.field]  }}
                        </div> 
                        <div *ngSwitchDefault>
                            {{ citas[col.field]  }}
                        </div>
                    </div>   
                </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                <td colspan="6">No existen citas registradas</td>
                </tr>
            </ng-template> 
        </p-table>   
    </div>

    -->

</div> 
 
  

 