.grillaItems{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
    grid-gap: 15px;
    text-align: center;
    padding: 5%;
    grid-auto-rows: auto;
  
    @media (max-width : 700px){
      grid-template-columns: repeat(auto-fit, minmax(16rem, auto)); 
    }
  }

  .SombraCard ::ng-deep .p-card{ 
    box-shadow: 0px 1px 5px 2px !important;
    height: 100%;
  }
  

  .sizeIcon{ 
    font-size: 100px;
    color: #14ba1a;
   }

   .textIcon{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 0% 15% 0% 15%;
  }


.ColorReservado{
    background-color: yellow;
    border-radius: 15px;
    border: solid 1px;
}
.ColorPagado{
    background-color: green;
    border-radius: 15px;
    color: white;
    margin: 0% 2% 0% 2%;
}
.ColorCancelado{
    background-color: red;
    border-radius: 15px;
    color: white
}

::ng-deep .p-calendar{
  width: 70%;
  @media (max-width: 700px) {   
    width: 80%;
  }
}


.formulario{
  display: grid; 
  grid-template-columns: 7rem 14rem 7rem 14rem;
  align-items: center;
  justify-content: center;
  @media (max-width: 700px) {   
    grid-template-columns: 7rem 12rem;
  } 
}
 

/*GRAFICOS*/
  
.Circulo {
  width: 80px;
  height: 80px;
  border-radius: 50%; 
  margin: 20px;
  margin-left: 100px; 
  font-size: 2em;
  padding: 20%;

  @media (max-width: 700px) {   
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 20px;
    margin-left: 70px;
    font-size: 1.8em;
    padding: 20%;
  }


  .Circulo2 {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: -55px;
    margin-left: -55px;
    color: #212020;
    font-size: 2.5em;
    padding: 20%;
    background: white;

    @media (max-width: 700px) {   
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-top: -40px;
      margin-left: -40px;
      color: #212020;
      font-size: 2em;
      padding: 20%;
      background: white;
    }

  }

}